<article class="blog post">
  <header>
    <time datetime="{{ post.date | iso8601_date }}" pubdate>{{ post.date | nice_date }}</time>
    <h1>
      <a href="{% if post.remote_url %}{{ post.remote_url }}{% else %}{{ post.url }}{% endif %}" rel="bookmark" title="link to this post">{{ post.title }}</a>
    </h1>
  </header>
  <div class="content">
  {% if content %}
    {{ content }}
  {% else %}
    {{ post.content }}
  {% endif %}
  </div>
  <footer>
    {% if page.next.url or page.previous.url %}
    <nav>
      <ul>
        {% if page.next.url %}
        <li>
          Next: <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}}</a> 
        </li>
        {% endif %}
        {% if page.previous.url %}
        <li>
          Previous: <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a> 
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </footer>
</article>
