<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
      <a class="sidebar-nav-item{% if page.url == '/projects/' %} active{% endif %}" href="/projects/">Projects</a>

      <div class="external-links">
        <a href="https://twitter.com/bgreenlee" rel="alternate" type="application/twitter">
          <img src="/public/images/twitter-logo-blue-20.png" alt="Follow on Twitter"/>
        </a>

        <a href="http://feeds.feedburner.com/footle" rel="alternate" type="application/rss+xml">
          <img src="/public/images/rss-icon-20.png" alt="Subscribe via RSS"/>
        </a>

        <a href="https://github.com/bgreenlee">
          <img src="/public/images/github-mark-light-20.png" alt="GitHub"/>
        </a>
      </div>

    </nav>

    <p class="footer">&copy; 2005 - {{ site.time | date: '%Y' }} <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a></p>
  </div>
</div>
