/* overrides */
html {
  font-family: "Optima", "Candara", "PT Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

.sidebar-about h1 {
    font-family: "Nixie One", serif;
    font-size: 5rem;
}

.external-links { margin-top: 1rem;}
.external-links img { display: inline;}
p.footer { margin-top: 1rem; font-size: 66%;}
.permalink { font-size: 66%; font-weight: normal;}

.tag-index dt {
    margin-top: 1rem;
}

.tag-index dd {
    margin-left: 0;
}

.tag-index .post-date {
    font-weight: normal;
    font-size: 80%;
    margin-bottom: 0;
    display: inline;
}

.post-subtitle {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.post-subtitle .post-date {
    display: inline;
    margin-bottom: 0;
}

.tag-list {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.tag-list:before {
    content: "\2022";
}

.tag-list li {
    display: inline;
}

.tag-list a {
    color: #9a9a9a;
}

sup {
    font-size: 16px;
}

.footnotes {
    border-top: 1px solid;
    padding-top: 1em;
    font-size: 16px;
}

img.embed-right {
    display: inline;
    padding: 0.5em 0 0.5em 0.5em;
    float: right;
}

img.embed-left {
    display: inline;
    padding: 0.5em 0.5em 0.5em 0;
    float: left;
}

pre {
    font-size: 0.7rem;
}